@font-face {
        font-family: "space";
        src: url("../fonts/space.ttf");
    }
@font-face {
        font-family: "zekton";
        src: url("../fonts/zekton.ttf");
    }
    body {
        margin: 0;
        font-family: space, sans-serif;
    }
    h1,
    .accroche, .accroche_team {
        width: 100%;
        color: cornflowerblue;
        text-align: center;
        text-shadow: 2px 2px white;
    }
    h1 {
        font-size: 90px;
    }
        .play,
    #rules,
    #team {
        color: aliceblue;
        font-size: 27px;
        text-shadow: 4px 3px 0px black;
    }
    #rules {
        margin-top: 0;
        width: 40%;
        cursor: pointer;
        max-height: 44px;
        overflow: hidden;
        transition: all 0.4s;
    }
    #rules.visible {
        max-height: 3000px;
        margin: 0;
        transition: all 0.2s, max-height 4.8s;
    }
    #rules span {text-decoration: underline;}
    .play:hover,
    #rules span:hover,
    #team:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);
    }
    #play:visited, #play:focus, #play {color: white;}
    #rules .hidden_content {
        background-color: rgba(84, 79, 79, 0.7);
        text-align: center;
        font-family: "zekton";
        width: 100%;
        color: white;
        font-size: 18px;
        text-shadow: none;
    }
    #container_avatar {
      width: 90%;
      margin: 5% auto 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
    }
    #container_avatar img {
      width: 200px;
      height: 130px;
    }
    #container_avatar img:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
    }
    #container_avatar div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    #container_avatar div p {
        text-align: center;
        color: white;
        font-size: 18px;
        font-family: "zekton";
        font-weight: bold;
    }
    .container, .container_team {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
        background-image: url("../pics/couv1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .container_team .credits {
        width: 70%;
        margin: auto;
        text-align: center;
        font-family: "zekton";
        color: white;
    }
    .container_team .credits a {
      color: white;
    }
    .accroche, .accroche_team {
        font-size: 40px;
    }
    .accroche_team {
      margin-top: 0;
    }
    .inside_container {
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
      -ms-flex-pack: distribute;
          justify-content: space-around;
        text-align: center;
    }
    .member {
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        font-family: "zekton";
        color: aliceblue;
    }
    footer {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 10px;
        color: aliceblue;
    }
    .footer_team {
        position: relative;
    }
    @media screen and (max-width: 1024px) {
        .title {font-size: 60px;}
        .accroche_team {font-size: 30px;}    
    }
    @media screen and (max-width: 992px) {
        #container_avatar div {width: 40%}
        #container_avatar {
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; 
            -webkit-box-pack: center; 
                -ms-flex-pack: center; 
                    justify-content: center;
        }
        .container_team .play {font-size: 40px;}
        #container_avatar img {
            height: auto;
            width: 100%;
        }
        .container .inside_container {width: 100%;}
        .container .inside_container .play, #rules, #team {font-size: 30px;}
        .hidden_content {font-size: 20px; line-height: 25px;}
    }
    @media screen and (max-width: 600px) {
        .title {font-size: 50px;}
        .accroche, .accroche_team {font-size: 30px;}
        .inside_container {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }
        #rules {width: auto;}
        .play, #rules, #team {margin: auto;}
    }
    @media screen and (max-width: 400px) {
        .container_team .title {font-size: 26px;}
        .accroche, .accroche_team {font-size: 20px;}
        .container .inside_container .play, #rules, #team {font-size: 25px; margin: 0 auto;}
        .container_team .credits {width: 100%;font-size: 8px;}
        #rules {max-height: 30px;}
    }
