@font-face {
        font-family: "space";
        src: url("../fonts/space.ttf");
    }
@font-face {
        font-family: "zekton";
        src: url("../fonts/zekton.ttf");
    }
    body {
        margin: 0;
        background-image: url("../pics/couv1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: space, sans-serif;
    }
    h1,
    .accroche, .accroche_team {
        width: 100%;
        color: cornflowerblue;
        text-align: center;
    }
    h1 {
        font-size: 90px;
    }
        #play,
    #rules,
    #team {
        height: 100%;
        color: aliceblue;
        font-size: 27px;
    }
    #rules {
        margin-top: 0;
        width: 40%;
        text-decoration: underline;
        cursor: pointer;
    }
    #play:hover,
    #rules:hover,
    #team:hover {
        transform: scale(1.2);
    }
    #rules_p {
        display: none;
        background-color: rgba(84, 79, 79, 0.7);
        text-align: center;
        font-family: "zekton";
    }
    #rules_p.visible {
        display: block;
        width: 80%;
        margin: auto;
    }
    #rules_p p {
        color: white;
        font-size: 20px;
    }
    #container_avatar {
      width: 90%;
      margin: 5% auto 0 auto;
      display: flex;
      justify-content: space-around;
    }
    #container_avatar img {
      width: 200px;
      height: 130px;
    }
    #container_avatar img:hover {
      transform: scale(1.1);
    }
    #container_avatar div {
      display: flex;
      flex-direction: column;
    }
    #container_avatar div p {
        text-align: center;
        color: white;
        font-size: 18px;
        font-family: "zekton";
        font-weight: bold;
    }
    .container, .container_team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }
    .container_team .credits {
        width: 70%;
        margin: auto;
        text-align: center;
        font-family: "zekton";
        color: white;
    }
    .container_team .credits a {
      color: white;
    }
    .accroche, .accroche_team {
        font-size: 40px;
    }
    .accroche_team {
      margin-top: 0;
    }
    .inside_container {
        width: 70%;
        display: flex;
        margin: auto;
      justify-content: space-around;
    text-align: center;
}
.member {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: "zekton";
    color: aliceblue;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: aliceblue;
}
.footer_team {
    position: relative;
}
@media screen and (max-width: 1024px) {
    .title {font-size: 60px;}
    .accroche_team {font-size: 30px;}
}

@media screen and (max-width: 600px) {
    .container, .inside_container {width: auto;}
    h1, .title {font-size: 50px;}
    .accroche {font-size: 30px;}
    #play,
    #rules {font-size: 18px;}
    #play:hover,
    #rules:hover {
        transform: scale(1.1);
    }
    #rules_p p {font-size: 18px;}
}
