@font-face {
    font-family: "space";
    src: url("../fonts/space.ttf");
}

@font-face {
    font-family: "zekton";
    src: url("../fonts/zekton.ttf");
}

body {
    margin: 0;
    background-image: url("../pics/couv1.jpg");
    background-size: cover;
    font-family: space, sans-serif;
}

h1, .accroche {
    width: 100%;
    color: cornflowerblue;
    text-align: center;
}

h1 {
    font-size: 90px;
    margin: 0;
    position: absolute;
    top: 5%;
}

#play, #rules, #team {
    height: 100%;
    color: aliceblue;
    font-size: 27px;
}

#rules {
    margin-top: 0;
    text-decoration: underline;
    cursor: pointer;
}

#play:hover, #rules:hover, #team:hover {
    transform: scale(1.2);
}

#rules_p {
    display: none;
    background-color: rgba(84, 79, 79, 0.7);
    text-align: center;
    font-family: "zekton";
}

#rules_p.visible {
    display: block;
    width: 80%;
    margin: auto;
}

#rules_p p {
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 500px;
}

.accroche {
    font-size: 40px;
    margin: 10% 0 8% 0;
}

.inside_container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2%;
}

.member {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: "zekton";
    color: aliceblue;
}
.block_team {
  margin-left: 10%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: aliceblue;
}

@media screen and (max-width: 600px) {
    .container {
        width: auto;
    }
    h1 {
        font-size: 50px;
    }
    .accroche {
        font-size: 30px;
    }
    .inside_container {
        width: auto;
    }
    #play, #rules {
        font-size: 18px;
    }
    #play:hover, #rules:hover {
        transform: scale(1.1);
    }
    #rules_p p {
        font-size: 18px;
    }
}
