@font-face {
       font-family: space;
       src: url("../fonts/space.ttf");
}
@font-face {
        font-family: "zekton";
        src: url("../fonts/zekton.ttf");
}
html {
       cursor: none;
       height: 100%;
}
body {
       margin: 0;
       overflow: hidden;
       background-color: #ededed;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-sizing: border-box;
               box-sizing: border-box;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       -webkit-box-align: center;
           -ms-flex-align: center;
               align-items: center;
       height: 100%;
}
footer {
       font-size: 90px;
       bottom: 0;
       left: 0;
       color: #7f8c8d;
       position: absolute;
       font-family: space, sans-serif;
       z-index: 200000;
       -webkit-box-align:end;
       -ms-flex-align:end;
       align-items:flex-end;
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       -webkit-box-pack: justify;
           -ms-flex-pack: justify;
               justify-content: space-between;
       width: 100%;
}
#cursorperso {
       height: 100px;
       width: 100px;
       background: url("../pics/rocket-icon.svg") no-repeat center center;
       position: absolute;
       z-index: 10;
}
#main {
       width: 100%;
       height: 100vh;
       background-color: #000;
       border-radius: 3px;
       -webkit-box-shadow: 1px 1px 5px 0px #656565;
               box-shadow: 1px 1px 5px 0px #656565;
       position: relative;
}
#canvas {
       width: 100%;
       height: 100vh;
}
#baclette {width: 700px;}
.icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 30%;
}
#mute,#sound, #pause, #play, #home {
       width: 50px;
       display: none;
}
#mute.visible,
#sound.visible, #play.visible, #pause.visible, #home.visible {
       display: block;
}
#mute:hover,
#sound:hover, #pause:hover, #play:hover, #home:hover {
       -webkit-transform: scale(1.3);
           -ms-transform: scale(1.3);
               transform: scale(1.3);
       cursor: pointer;
}
#timer {
       margin: auto;
       color: #7f8c8d;
}
.timer {
       font-size: 90px;
       color: #7f8c8d;
       font-family: space, sans-serif;
       width: 160px;
       text-align: center;
}
.fly {
       position: absolute;
       -webkit-animation-duration: 1.5s;
               animation-duration: 1.5s;
       -webkit-animation-timing-function: linear;
               animation-timing-function: linear;;
       z-index: 12;
}

 /*FENETRE POPUP SCORE FINAL*/
#cover, #cover2 {
       display: none;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       position: absolute;
       top: 5%;
       width: 60%;
       height: 500px;
       background-color: rgba(255, 255, 255, 0.5);
       z-index: 200000;
}
#score, #levels {
       padding: 2px;
       width: 100%;
       margin: auto;
       display: none;
       text-align: center;
}
#score h1, #levels h1 {
       font-family: space, sans-serif;
       font-size: 65px;
       color: cornflowerblue;
}
#score p {
       font-family: "zekton", sans-serif;
       font-size: 40px;
       color: aliceblue;
       margin: 10px;
}
#score #high_score {
      font-family: space, sans-serif;
      font-size: 45px;
      color: cornflowerblue;
}
#cover.visible, #cover2.visible {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
       margin: auto;
}
#score.visible, #levels.visible {
       display: block;
}
button {
       font-family: space, sans-serif;
       font-size: 20px;
       color: cornflowerblue;
       padding: 5px;
       -webkit-box-shadow: 0px 0px 10px;
               box-shadow: 0px 0px 10px;
       border: none;
       border-radius: 10px;
       margin: 10px;
}
button a {
       color: cornflowerblue;
       text-decoration: none;
}
button:hover {
       border: none;
       -webkit-box-shadow: inset 0px 0px 7px;
               box-shadow: inset 0px 0px 7px;
       background-color: rgba(0, 0, 0, 0.1);
       cursor: pointer;
}
/*-------------------------------------------------*/

  @-webkit-keyframes fly-from-top {

       0% {
         top: 0;
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
       }
       15% {
         left: 400px;/*50*/
         top: -100px;/*-50*/
      }

      45% {
          left: 250px;/*150*/
          top: -10px;/*-50*/
      }
      60% {
          left: 200px;/*200*/
          top: 0;/*0*/
      }
      75% {
          left: 250px;
          top: -50px;
      }
      100% {
         top: 100%;
      }
    }

  @keyframes fly-from-top {

       0% {
         top: 0;
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
       }
       15% {
         left: 400px;/*50*/
         top: -100px;/*-50*/
      }

      45% {
          left: 250px;/*150*/
          top: -10px;/*-50*/
      }
      60% {
          left: 200px;/*200*/
          top: 0;/*0*/
      }
      75% {
          left: 250px;
          top: -50px;
      }
      100% {
         top: 100%;
      }
    }
 @-webkit-keyframes fly-from-right {
    0% {
        right: 0;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    100% {
         right: 100%;
    }
  }
 @keyframes fly-from-right {
    0% {
        right: 0;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
    100% {
         right: 100%;
    }
  }
  @-webkit-keyframes fly-from-bottom {
     0% {
         bottom: 0;
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
     100% {
         bottom: 100%;
     }
   }
  @keyframes fly-from-bottom {
     0% {
         bottom: 0;
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
     100% {
         bottom: 100%;
     }
   }
   @-webkit-keyframes fly-from-left {
     0% {
         left: 0;
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
     100% {
         left: 95%;
     }
   }
   @keyframes fly-from-left {
     0% {
         left: 0;
         -webkit-transform: rotate(360deg);
                 transform: rotate(360deg);
     }
     100% {
         left: 100%;
     }
   }
   @media screen and (max-width: 992px) {
      footer, .timer {font-size: 60px;}
      #baclette {width: 45%;}
      #score h1, #levels h1 {font-size: 54px;}
      #score #high_score {font-size: 40px;}
      #score p {font-size: 30px;}
      .fly {
          width: 90px;
          height: 90px;
      }
      #baclette,
      #timer {font-size: 50px;}
      #cover, #cover2 {
          height: 400px;
          background-color: rgba(255, 255, 255, 0.5);
          z-index: 200000;
          width: 90%;
          top: calc(40% - 200px);
      }
      #levels button {font-size: 35px; padding: 10px;}
      #cursorperso {display: none;}
      #mute, #sound, #pause, #play, #home {width: 70px;}
   }
