@font-face {
       font-family: space;
       src: url("../fonts/space.ttf");
}
@font-face {
        font-family: "zekton";
        src: url("../fonts/zekton.ttf");
}
html {
       cursor: none;
       height: 100%;
}
body {
       margin: 0;
       overflow: hidden;
       background-color: #ededed;
       display: flex;
       box-sizing: border-box;
       justify-content: center;
       align-items: center;
       height: 100%;
}
#cursorperso {
       height: 100px;
       width: 100px;
       background: url("../pics/rocket-icon.svg") no-repeat center center;
       position: absolute;
       z-index: 10;
}
#main {
       width: 100%;
       height: 100vh;
       background-color: #000;
       border-radius: 3px;
       box-shadow: 1px 1px 5px 0px #656565;
       position: relative;
}
#canvas {
       width: 100%;
       height: 100vh;
}
#baclette {
       font-size: 90px;
       bottom: 0;
       left: 0;
       color: #7f8c8d;
       position: absolute;
       font-family: space, sans-serif;
       z-index: 200000;
}
#mute,#sound, #pause, #play, #home {
       position: absolute;
       width: 50px;
       bottom: 2%;
       right: 45%;
       z-index: 200000;
       display: none;
}
#pause, #play {
      right: 35%;
}
#home {
  right: 25%;
}
#mute.visible,
#sound.visible, #play.visible, #pause.visible, #home.visible {
       display: block;
}
#mute:hover,
#sound:hover, #pause:hover, #play:hover, #home:hover {
       transform: scale(1.3);
       cursor: pointer;
}
#timer {
       margin: auto;
       color: #7f8c8d;
}
.timer {
       position: absolute;
       bottom: 0;
       right: 0;
       font-size: 90px;
       color: #7f8c8d;
       font-family: space, sans-serif;
       z-index: 200000;
}
.fly {
       position: absolute;
       animation-duration: 1.5s;
       animation-timing-function: linear;;
       z-index: 12;
}

 /*FENETRE POPUP SCORE FINAL*/
#cover, #cover2 {
       display: none;
       justify-content: center;
       position: absolute;
       top: 5%;
       width: 60%;
       height: 500px;
       background-color: rgba(255, 255, 255, 0.5);
       z-index: 200000;
}
#score, #levels {
       padding: 2px;
       width: 100%;
       margin: auto;
       display: none;
       text-align: center;
}
#score h1, #levels h1 {
       font-family: space, sans-serif;
       font-size: 65px;
       color: cornflowerblue;
}
#score p {
       font-family: "zekton", sans-serif;
       font-size: 40px;
       color: aliceblue;
       margin: 10px;
}
#score #high_score {
      font-family: space, sans-serif;
      font-size: 45px;
      color: cornflowerblue;
}
#cover.visible, #cover2.visible {
       display: flex;
       margin: auto;
}
#score.visible, #levels.visible {
       display: block;
}
button {
       font-family: space, sans-serif;
       font-size: 20px;
       color: cornflowerblue;
       padding: 5px;
       box-shadow: 0px 0px 10px;
       border: none;
       border-radius: 10px;
       margin: 10px;
}
button a {
       color: cornflowerblue;
       text-decoration: none;
}
button:hover {
       border: none;
       box-shadow: inset 0px 0px 7px;
       background-color: rgba(0, 0, 0, 0.1);
       cursor: pointer;
}
/*-------------------------------------------------*/

  @keyframes fly-from-top {

       0% {
         top: 0;
         transform: rotate(360deg);
       }
       15% {
         left: 400px;/*50*/
         top: -100px;/*-50*/
      }

      45% {
          left: 250px;/*150*/
          top: -10px;/*-50*/
      }
      60% {
          left: 200px;/*200*/
          top: 0;/*0*/
      }
      75% {
          left: 250px;
          top: -50px;
      }
      100% {
         top: 100%;
      }
    }
 @keyframes fly-from-right {
    0% {
        right: 0;
        transform: rotate(360deg);
    }
    100% {
         right: 100%;
    }
  }
  @keyframes fly-from-bottom {
     0% {
         bottom: 0;
         transform: rotate(360deg);
     }
     100% {
         bottom: 100%;
     }
   }
   @keyframes fly-from-left {
     0% {
         left: 0;
         transform: rotate(360deg);
     }
     100% {
         left: 100%;
     }
   }
   @media screen and (max-width: 700px) {
         .fly {
             width: 90px;
             height: 90px;
         }
         #baclette,
         #timer {
             font-size: 50px;
         }
         #mute,
         #sound {
             right: 20%;
         }
         #cover {
             top: 15%;
             width: 65%;
             height: 400px;
             background-color: rgba(255, 255, 255, 0.5);
             z-index: 200000;
         }
         #score h1 {
             font-size: 42px;
         }
         #score p {
             font-size: 22px;
         }
         button {
             font-size: 15px;
             color: #9b158b;
         }
