@font-face {
    font-family: space;
    src: url(space.ttf);
}
@font-face {
    font-family: "zekton";
    src: url(zekton.ttf);
}
body {
  margin: 0;
  background-image: url("pics/couv4.jpg");
  background-size: cover;
  font-family: space, sans-serif;
}
h1 {
  text-align: center;
  color: #d35400;
}
.bestscore,#highscore {
    color: #d35400;
    text-align: center;
}
