@font-face {
    font-family: space;
    src: url(space.ttf);
}
@font-face {
    font-family: "zekton";
    src: url(zekton.ttf);
}

body {
    margin: 0;
    background-image: url("pics/couv1.jpg");
    background-size: cover;
    font-family: space, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 500px;
}

h1,
.accroche {
    width: 100%;
    color: cornflowerblue;
    text-align: center;
}

h1 {
    font-size: 90px;
}

.accroche {
    font-size: 40px;
}

.inside_container {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.member {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: aliceblue;
}

@media screen and (max-width: 600px) {
    .container {
        width: auto;
    }
    h1 {
        font-size: 50px;
    }
    .accroche {
        font-size: 30px;
    }
    .inside_container {
        width: auto;
    }
    .member {
        width: 100%;
        font-weight: bold;
        font-size: 30px;
        color: aliceblue;
    }
}
